
<div class="row">
    <div class="col-4">
        <h5>Redes sociales</h5>
        <div class="">
            <div class="">fa</div>
            <div class="">tw</div>
            <div class="">ins</div>
            <div class="">oth</div>
        </div>
        <h5>Contact Info</h5>
        <p>Lorem ipsum dolor sit, amet c
            onsectetur adipisicing elit. 
            Atque, veniam animi vel dolorum 
            laudantium officiis 
            quisquam, natus esse
             culpa, architecto.</p>
    </div>
    <div class="col-8">
        <h5>Formulario</h5>
        <form>
            <label for="name">Your name</label>
            <input type="text" name="name" id="">
            <label for="">Your Email</label>
            <input type="text" name="" id="">
            <label for="">Subject</label>
            <input type="text" name="" id="">
            <label for="">Your Message</label>
            <input type="text" name="" id="">
            <input type="submit" value="go">
         
        </form>
    </div>

</div>